*{
    margin: 0 auto;
    padding: 0;
}

body{
    position: relative;
    max-width: 450px;
    width: 100%;
    margin-top: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(180deg, #1E90FF 30%, #00BFFF 70%);
    background: -o-linear-gradient(top, #1E90FF 30%, #00BFFF 70%);
    background: -moz-linear-gradient(180deg, #1E90FF 30%, #00BFFF 70%);
    background: linear-gradient(top, #1E90FF 30%, #00BFFF 70%);
}

#app{
    margin: 20px auto;
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 8px black;
}

#app *{
    margin: 5px;
}

body h1{
    font-size: 1.8em;
    text-align:center;
}

#form label span{
    padding: 0px;
    margin: 2px;
}


#form input{
    width: 90%;
    padding: 10px;
}

#form button{
    margin: 20px 20px 0px 20px;
    padding: 10px;
    width: 90%;
}

#listaCarros{
    margin: 20px;
}

#listaCarros ul li{
    position: relative;
    list-style: none;
    display: inline;    
    margin-top: 50px;
}