*{
    margin: 0 auto;
    padding: 0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(180deg, #1E90FF 30%, #00BFFF 70%);
    background: -o-linear-gradient(top, #1E90FF 30%, #00BFFF 70%);
    background: -moz-linear-gradient(180deg, #1E90FF 30%, #00BFFF 70%);
    background: linear-gradient(top, #1E90FF 30%, #00BFFF 70%);
}

.conteiner{
    position: relative;
    max-width: 300px;
    width: 100%;
    margin: 160px auto;
    padding: 25px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 8px black;
}

.conteiner h1{
    padding-bottom: 15px;
}

#dados{
    margin: 5px 5px 15px 0px;
    padding: 10px;
}

#btnAdicionar{
    padding: 10px;
}

#lista li{
    margin: 10px 0;
    padding: 10px;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    height: 35px;
    text-shadow: 0 0.1em 0.3em #000;
    background-color: #00BFFF;
    border-radius: 5px;
    vertical-align: middle;
}

#lista li .btnExcluir{
    margin: 0;
    padding: 10px;
    right: 0px;
    float: right;
}
